body{
    background-color: #f6f6f6;
}
.comm-left,.comm-right{
    background-color:#fff;
    padding:.3rem;
    border-radius: .3rem;
    border-bottom: 1px solid #eee;
}
.comm-right{
    margin-left: .5rem;
}
.comm-main{
    margin-top:.5rem;
}